# MAM02 - Week 2
*Authors*: Robin & Matias

*Status*: Draft

*Date*: 8.10.2024

## Introduction

In this analysis, we aim to investigate the association between 20 risk factors and the occurrence of cardiovascular disease (CVD) events in patients with familial hypercholesterolemia (FH).

In [2]:
import pandas as pd

# Load the given data file
data = pd.read_spss("GIRAFH.SAV")

# Some general data descriptions
print(data.head())
print(data.info())
print(data.describe())

      sex  height  weight        bmi alcoholuse smoking  systbp  diasbp  \
0  female   174.0    77.0  25.432686         no    Ever   140.0    95.0
1    male   179.0    65.0  20.286508        yes    Ever   140.0    95.0
2    male   183.0    85.0  25.381469        yes    Ever   130.0    85.0
3  female   169.0    63.0  22.058051        yes    Ever   130.0    75.0
4    male   176.0    88.0  28.409091        yes   Never   120.0    80.0

  hypertension  Glucose  ...  diabetes familiarHC     Tc   HDL    Tg    Lpa  \
0          yes      4.7  ...      ever        yes  11.22  1.00  1.40    NaN
1           no      4.5  ...      ever         no  11.50  1.04  0.81  740.0
2           no      4.7  ...      ever         no  11.36  1.64  1.67    NaN
3           no      4.6  ...      ever         no  10.21  1.07  1.18    NaN
4           no      5.4  ...      ever         no  10.09  1.69  1.01    NaN

   homocysteine  creatinine        age  event
0          12.1        75.0  65.916496   none
1           NaN        66.0  31.115674    yes
2           NaN        79.0  47.791923    yes
3           NaN        58.0  65.672827   none
4           NaN        63.0  42.318960   none

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sex           2400 non-null   category
 1   height        2080 non-null   float64
 2   weight        2195 non-null   float64
 3   bmi           2058 non-null   float64
 4   alcoholuse    1909 non-null   category
 5   smoking       2166 non-null   category
 6   systbp        2363 non-null   float64
 7   diasbp        2363 non-null   float64
 8   hypertension  2376 non-null   category
 9   Glucose       2282 non-null   float64
 10  Hba1c         1470 non-null   float64
 11  diabetes      2400 non-null   category
 12  familiarHC    2400 non-null   category
 13  Tc            2152 non-null   float64
 14  HDL           1960 non-null   float64
 15  Tg            2026 non-null   float64
 16  Lpa           1698 non-null   float64
 17  homocysteine  1094 non-null   float64
 18  creatinine    2329 non-null   float64
 19  age           2400 non-null   float64
 20  event         2400 non-null   category
dtypes: category(7), float64(14)
memory usage: 279.9 KB
None
            height       weight          bmi       systbp       diasbp  \
count  2080.000000  2195.000000  2058.000000  2363.000000  2363.000000
mean    172.467308    74.933030    25.111342   135.003386    81.913246
std       9.304474    13.372804     3.576671    19.458503    10.516614
min     145.000000    41.000000    -1.000000    80.000000    30.000000
25%     165.000000    65.000000    22.724403   120.000000    75.000000
50%     172.000000    74.000000    24.751459   130.000000    80.000000
75%     179.000000    83.000000    27.143037   145.000000    90.000000
max     202.000000   155.000000    47.194008   225.000000   140.000000

           Glucose        Hba1c           Tc          HDL           Tg  \
count  2282.000000  1470.000000  2152.000000  1960.000000  2026.000000
mean      5.079251     5.787830     9.534693     1.210087     1.804919
std       1.020495     1.236499     2.002673     0.354308     1.029021
min       2.800000     2.400000     3.530000     0.360000     0.360000
25%       4.500000     5.100000     8.107500     0.977500     1.100000
50%       4.900000     5.500000     9.200000     1.160000     1.580000
75%       5.400000     6.100000    10.600000     1.400000     2.200000
max      19.400000    16.500000    18.300000     3.950000    10.810000

               Lpa  homocysteine   creatinine          age
count  1698.000000   1094.000000  2329.000000  2400.000000
mean    337.916372     12.445899    81.271790    47.067383
std     418.173833      8.867317    15.524963    12.184997
min       4.000000      4.000000    37.000000    18.061602
25%      60.000000      9.000000    71.000000    37.930185
50%     166.000000     11.000000    80.000000    46.238193
75%     470.750000     13.800000    90.000000    55.542779
max    3381.000000    215.000000   191.000000    85.809719

In [3]:
# Check for missing values
missing_values = data.isnull().sum()
print(missing_values)

sex                0
height           320
weight           205
bmi              342
alcoholuse       491
smoking          234
systbp            37
diasbp            37
hypertension      24
Glucose          118
Hba1c            930
diabetes           0
familiarHC         0
Tc               248
HDL              440
Tg               374
Lpa              702
homocysteine    1306
creatinine        71
age                0
event              0
dtype: int64